* {
	margin: 0;
	padding: 0;
	box-sizing: box-shadow;
}

body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('./images/bg-default.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.list {
	display: flex;
	flex-wrap: wrap;
	margin: 50px auto;
	width: 1000px;
	justify-content: space-around;
	.item {
		width: 300px;
		margin-bottom: 25px;
		color: white;
		transition: box-shadow 0.8s;
		&:hover {
		/* offset-x | offset-y | blur-radius | spread-radius | color */
		box-shadow: 5px 10px 15px 10px rgba(0, 0, 0, 0.4);
		cursor: pointer;
		}
		&:hover .preview {
		filter: brightness(1.8);
		}
	}
	.preview {
		transition: filter 0.8s;
		position: relative;
	}
	.preview .placeholder {
		width: 100%;
		height: 100%;
		background-image: url('./images/404_preview-320x180.jpg');
		position: absolute;
		top: 0;
		left: 0;
	}
	.preview img {
		width: 100%;
		height: 168px;
		display: block;
	}
}

.item .content {
		display: flex;
		align-items: center;
		background-color: rgba(1, 1, 1, 0.3);
		transition: background-color 1s;
		.avatar {
			padding: 10px;
			img {
				border-radius: 50%;
				height: 50px;
				width: 50px;
			}
		}
		.text h3, p {
			margin-bottom: 3px;
			// 文字打死都不換行
			white-space:nowrap;
			// 設定範圍
			width: 230px;
			//文字超過的部分會被藏起來
			overflow: hidden;
			//被藏起來的部分用...表示
			text-overflow: ellipsis;
		}
	}