@mixin first {
	@media screen and (max-width: 600px) {
		@content
	}
}
@mixin second {
	@media screen and (max-width: 900px) {
		@content
	}
}
@mixin third {
	@media screen and (max-width: 520px) {
		@content		
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	// background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../images/bg-default.jpg');
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('./src/images/bg-default.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	height: 100%;
	width: 80%;
	margin: 0 auto;
	position: relative;
	.changeLangBtnContainer {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
 	justify-content: center;
  	margin-top: 30px;
	}
	.changeLangBtnContainer .title{
  	color: #fdfdfd;
  	margin-bottom: 5px;
	}
	.btn-item button {
  	border: none;
  	background-color: transparent;
  	cursor: pointer;
  	font-size: 20px;
  	margin-left: 10px;
  	color: #fdfdfd;
  	&:hover {
  	color: #0077b6;
  	}
	}
}

.goback-top-btn-container {
	position: fixed;
    bottom: 20px;
    right: 30px;
    display: none;
    z-index: 99;
    button {
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: #dddd;
    font-weight: 900;
    transition: background-color,color 0.3s ease-in;
    &:hover {
    	background-color: #333;
    	cursor: pointer;
    	color: #fdfdfd;
    }
	}
}
.list {
	display: flex;
	flex-wrap: wrap;
	margin: 50px auto;
	width: 100%;
	justify-content: space-around;
	.item {
		width: 300px;
		margin-bottom: 25px;
		color: white;
		transition: box-shadow 0.8s;
		flex: 1 0 auto;
		max-width: 50%;
		padding: 0 0.25rem;
		&:hover {
		/* offset-x | offset-y | blur-radius | spread-radius | color */
		box-shadow: 5px 10px 15px 10px rgba(0, 0, 0, 0.4);
		cursor: pointer;
		}
		&:hover .preview {
		filter: brightness(1.8);
		}
		@include third {
			max-width: 100%;
		}
	}
	.preview {
		transition: filter 0.8s;
		position: relative;
		&:before {
		content: "";
		width: 100%;
		height: 100%;
		// background-image: url("../images/404_preview-320x180.jpg");
		background-image: url("./src/images/404_preview-320x180.jpg");
		background-repeat: no-repeat;
		background-position: center;
		/*position: absolute 不佔位*/
		position: absolute;
		top: 0;
		left: 0;
		}
	}
	.preview img {
		width: 100%;
		height: 168px;
		display: block;
		/*position: relative 會佔位*/
 		position: relative;
		/*一開始 opacity 設透明，圖片載入完就將載入完成的圖片顯示出來*/
		opacity: 0;
		transition: opacity 0.8s ease-in;
	}
	.preview .live-container {
		position: absolute;
		top: 0;
		left: 0;
		background-color: #e53946;
		z-index: 2;
		padding: 0 0.5rem;
		margin: 0.5rem;
		border-radius: 0.25rem;
		p {
			font-size: 14px;
			font-weight: 600;
			color: #fdfdfd;
		}
	}
	.preview .viewer-container {
		position: absolute;
    	bottom: 0;
    	left: 0;
    	background-color: rgba(0, 0, 0, 0.5);
    	padding: 0 0.25rem;
    	margin: 0.5rem;
    	border-radius: 0.25rem;
    	p {
    		font-size: 14px;
    		color: #fdfdfd;
    	}
	}
	.reminder-container {
		width: 100%;
		display: flex;
		justify-content: center;
		p {
			color: #fdfdfd;
		}
	}
	.maintain {
		width: 300px;
		margin-bottom: 25px;
		color: white;
		transition: box-shadow 0.8s;
		flex: 1 0 auto;
		max-width: 50%;
		padding: 0 0.25rem;
	}
}

.item .content {
		display: flex;
		align-items: center;
		background-color: rgba(1, 1, 1, 0.3);
		transition: background-color 1s;
		padding: 10px;
		.avatar {
			height: 50px;
			width: 50px;
			position: relative;
			img {
				position: relative;
				border-radius: 50%;
				height: 50px;
				width: 50px;
			}
		}
		.text {
			margin-left: 10px;
			h3, p {
			margin-bottom: 3px;
			// 文字打死都不換行
			white-space:nowrap;
			// 設定範圍
			width: 230px;
			//文字超過的部分會被藏起來
			overflow: hidden;
			//被藏起來的部分用...表示
			text-overflow: ellipsis;
		}
		h3 {
			@include first {
				width: 100px;
			}
		}
	}
}