@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./src/images/bg-default.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  position: relative;
}
body .changeLangBtnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
body .changeLangBtnContainer .title {
  color: #fdfdfd;
  margin-bottom: 5px;
}
body .btn-item button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
  margin-left: 10px;
  color: #fdfdfd;
}
body .btn-item button:hover {
  color: #0077b6;
}

.goback-top-btn-container {
  position: fixed;
  bottom: 20px;
  right: 30px;
  display: none;
  z-index: 99;
}
.goback-top-btn-container button {
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: #dddd;
  font-weight: 900;
  transition: background-color, color 0.3s ease-in;
}
.goback-top-btn-container button:hover {
  background-color: #333;
  cursor: pointer;
  color: #fdfdfd;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
  width: 100%;
  justify-content: space-around;
}
.list .item {
  width: 300px;
  margin-bottom: 25px;
  color: white;
  transition: box-shadow 0.8s;
  flex: 1 0 auto;
  max-width: 50%;
  padding: 0 0.25rem;
}
.list .item:hover {
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 5px 10px 15px 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.list .item:hover .preview {
  filter: brightness(1.8);
}
@media screen and (max-width: 520px) {
  .list .item {
    max-width: 100%;
  }
}
.list .preview {
  transition: filter 0.8s;
  position: relative;
}
.list .preview:before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("./src/images/404_preview-320x180.jpg");
  background-repeat: no-repeat;
  background-position: center;
  /*position: absolute 不佔位*/
  position: absolute;
  top: 0;
  left: 0;
}
.list .preview img {
  width: 100%;
  height: 168px;
  display: block;
  /*position: relative 會佔位*/
  position: relative;
  /*一開始 opacity 設透明，圖片載入完就將載入完成的圖片顯示出來*/
  opacity: 0;
  transition: opacity 0.8s ease-in;
}
.list .preview .live-container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e53946;
  z-index: 2;
  padding: 0 0.5rem;
  margin: 0.5rem;
  border-radius: 0.25rem;
}
.list .preview .live-container p {
  font-size: 14px;
  font-weight: 600;
  color: #fdfdfd;
}
.list .preview .viewer-container {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 0.25rem;
  margin: 0.5rem;
  border-radius: 0.25rem;
}
.list .preview .viewer-container p {
  font-size: 14px;
  color: #fdfdfd;
}
.list .reminder-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.list .reminder-container p {
  color: #fdfdfd;
}
.list .maintain {
  width: 300px;
  margin-bottom: 25px;
  color: white;
  transition: box-shadow 0.8s;
  flex: 1 0 auto;
  max-width: 50%;
  padding: 0 0.25rem;
}

.item .content {
  display: flex;
  align-items: center;
  background-color: rgba(1, 1, 1, 0.3);
  transition: background-color 1s;
  padding: 10px;
}
.item .content .avatar {
  height: 50px;
  width: 50px;
  position: relative;
}
.item .content .avatar img {
  position: relative;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.item .content .text {
  margin-left: 10px;
}
.item .content .text h3, .item .content .text p {
  margin-bottom: 3px;
  white-space: nowrap;
  width: 230px;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 600px) {
  .item .content .text h3 {
    width: 100px;
  }
}

/*# sourceMappingURL=test1.css.map */
